{% extends "users/base.html" %}


{% load bootstrap3 %}

{% block body %}
<style>
div#login-contain{
	height:95vh;
}
</style>
<div id="login-contain" class="valign-wrapper row login-box">
	<div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
		<form method="post" action="{% url 'users:register' %}" class="form">
		{% csrf_token %}
			<div class="card-content">
				<span class="card-title">Sign up</span>
				<div class="row">
					<div class="input-field col s12">
					{% bootstrap_form form %}
					</div>
				</div>
			</div>
			<div class="card-action right-align">
				<button type="reset" id="reset" class="btn-flat grey-text waves-effect" >reset</button>
				<button name = "submit" class="btn waves-effect waves-light" >
					Sign up<i class="material-icons right">send</i>
				</button>
			</div>
			<input type="hidden" name="next" value="{% url 'blog:mainpage' %}" />
		</form>
	</div>
</div>
{% endblock %}


