
#democ{width:100%; margin:30px auto 0 auto; border:1px solid #d3d3d3; background:#fff; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
.demo>h2.title{margin:4px 0 30px; padding:15px 0 10px 20px; border-bottom:1px solid #d3d3d3; font-size:18px; color:#a84c10;}
.demo{width:90%; margin:0 auto}
.demo h3 a{font-size: 14px; margin: 0 10px 5px 0; display: inline-block}
.demo>p{line-height: 30px;font-size: 14px}
.demo>p a{font-size: 14px}
.demo h3{font-size: 16px;margin:20px 0}
select{background-color: #fff; background-position: right center; background-repeat: no-repeat; border: 1px solid #888; border-radius: 3px; box-sizing: border-box; font: 12px/1.5 Tahoma,Arial,sans-serif; height: 30px; padding: 0 4px;}
fieldset{border: 1px solid #ccc; border-radius: 5px; margin: 1em 0; padding: 10px 20px;}
dl.row dt{width: 2em;}
dl.row dt{clear: left; float: left; line-height: 30px; padding: 5px; text-align: right; width: 6em;}
dl.row dd{float: left; padding: 5px;}
fieldset legend{font: bold 14px/2 "console";}
.page a:focus, .page a:hover{border-color: #f40; z-index: 1;}
