
{% extends "blog/base.html" %}
{% block body %}
{% load staticfiles %}

<div class="row">
	<div class="col s12 m5">
		<div class="card hoverable">
			<div class="card-image " style="">
				<a href="{% url 'blog:edit_photo' %}" ><img src="/static/{{account.photo}}"/></a>
			</div>
			<div class="card-content">
				<span>motto:</span>
				<div style="word-wrap:break-word">
					<h6>{{account.motto}}</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12 m7">
		<div class="card hoverable">
			<div class="card-content">
				<table>
					<tbody>
						<tr>	
							<td>nickname</td>
							<td>{{account.nickname}}</td>
						</tr>
						<tr>	
							<td>first_name</td>
							<td>{{account.first_name}}</td>
						</tr>
						<tr>	
							<td>last_name</td>
							<td>{{account.last_name}}</td>
						</tr>
						<tr>	
							<td>gender</td>
							<td>{{account.sex}}</td>
						</tr>
						<tr>	
							<td>birthday</td>
							<td>{{account.birthday}}</td>
						</tr>
						<tr>	
							<td>email</td>
							<td>{{account.email}}</td>
						</tr>
						<tr>	
							<td>address</td>
							<td>{{account.address}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-action">
				<a href="{% url 'blog:edit_account' %}">edit_account</a>
				<a href="{% url 'blog:edit_password' %}">edit password</a>
			</div>
		</div>
	</div>
</div>



{% endblock %}
