{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="Haoran's Blog" content="width=device-width, initial-scale=1"/>
		<script src="{% static 'js/jQuery.js' %}"></script>
		<script src="{% static 'js/materialize.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
<body>

<style>
	
#slide-out::-webkit-scrollbar {display:none}
.header, .main, .footer .imgbox-wrap{
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	.header, .main, .footer .imgbox-wrap{
		padding-left: 0;
	}
}
#myhp{
	display:none;
}
@media only screen and (max-width : 992px) {
	#myhp{
		display: inline;
	}
}
#head-in-nav{
	width: 64px;
	padding-left: 2px;
}
@media only screen and (max-width : 600px) {
	#head-in-nav{
		width: 58px;
		padding-left: 1px;
	}
}
</style>

<ul id="slide-out" class="sidenav sidenav-fixed">
<li>
	<div class="user-view">
		<div class="background">
			<img src="/static/mypicture/background1.jpg" style="width:100%">
		</div>
		<a><img class="circle" src="/static/{{account.photo}}" ></a>
		<a>
			<span class="white-text name">
				{% if account.nickname %}
				{{ account.nickname }}
				{% else %}
				{{ user.username }}
				{% endif %}
			</span>
		</a>
		<a><span class="white-text email">{{user.email}}</span></a>
	</div>
</li>
	<li>
		<a class="subheader">Motto:</a>
		<div class="container" style="word-wrap:break-word">
			<p>{{account.motto}}</p>
		</div>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<a class="subheader">PAGES</a>
	</li>
	
	<li><a class="waves-effect" href = "{% url 'blog:mainpage' %}">Mainpage</a></li>
	
	<li><a class="waves-effect" href = "{% url 'blog:blogs' %}">Blogs</a></li>

	<li><a class="waves-effect" href = "{% url 'blog:friends' %}">Friends</a></li>

	<li><a class="waves-effect" href = "{% url 'blog:messages' %}">Messages</a></li>

	<li><a class="waves-effect" href = "{% url 'blog:account' %}">Account</a></li>
	
	<li><a class="waves-effect" href = "{% url 'users:logout' %}">Log out</a></li>

</ul>

<div class="main">

	<nav class="brown lighten-2">
		<div class="nav-wrapper">
			<a class="sidenav-trigger brand-logo"  id="myhp" data-target="slide-out">
				<img id="head-in-nav" src="/static/{{account.photo}}" alt="" class="circle" >
			</a>
			<ul class="right hide-on-med-and-down">
				<li><a>Hello,{{user.username}}.</a></li>
				{% block navhide %}{% endblock %}
			</ul>
			<ul class="right">
				{% block navfix %}{% endblock %}
			</ul>
		</div>
	</nav>
	

	<div id="bodycontainer" class="container">
		{% block body %}
		{% endblock %}

	</div>
</div>

<script>
$(document).ready(function(){
	$('.sidenav').sidenav();
	$('.dropdown-trigger').dropdown();
});
</script>

</body>
</html>
