{% extends "blog/base.html" %}
{% load staticfiles %}
{% block navfix %}
<li>
	<a href="{% url 'blog:new_blog' %}">new blog</a>
</li>
<li>
	<a href="{% url 'blog:my_blog' %}">my blog</a>
</li>

{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/viewer.min.css' %}">

<style type="text/css" media="screen">  
*{margin:0;padding:0;}
.box{
  margin:2%;
  display: flex;
  flex-wrap: wrap;
}
.box span{
  flex-grow: 1;
  margin: 2px;
  padding-bottom: 30%;  
  width:30%;
  max-width:50%;
  height: 0;
  position:relative;
}
.box img{
  height: 100%;
  object-fit: cover;
  /*max-width: 100%;
  min-width: 100%;*/
  width:100%;
  position:absolute;
  top:-50%;
  left:-50%;
  transform:translate(50%,50%);
  vertical-align: middle;
}
</style>


<h2 class="center">Friends' Sharing</h2>


<div id="blogsdiv" class="col s12 m12">

</div>





<script >

var blog_list = {{ blog_list|safe }};
var acc = {{ acc|safe }};
blogsadd(blog_list,acc);

function blogsadd(blog_list,acc){
	for(var i = 0; i<blog_list.length ;i++)
	{
		var blogdiv = '<div id="blogdiv'+ blog_list[i]['id'] +'" class="card-panel grey lighten-4 z-depth-1">'+
			'<div class="row valign-wrapper">'+
			'<div class="col s4 m2">'+
			'  <img src="/static/' + blog_list[i]['senduser']['photo']+ ' "alt="" class="circle responsive-img z-depth-1">' +
			'</div>'+
			'<div class="col s6 m3">'+
			  '<h5 class="black-text">';
		if(blog_list[i]['senduser']['nickname'])
			blogdiv += blog_list[i]['senduser']['nickname'];
		else 
			blogdiv += blog_list[i]['user']['username'];
		blogdiv +=  '</h5>'+
			'</div>'+
			'<div class="col s6 m3">'+
			'	<label>'+
					blog_list[i]['time']+
			'	</label>'+
			'</div>'+
			'<div class="col s4 m2">';
		if (blog_list[i]['senduser']['id'] == acc['id'])
			blogdiv += 	'<a href="edit_blog/' + blog_list[i]['id'] + '/" class="btn waves-effect waves-teal orange lighten-1">edit</a>';
		blogdiv += 	'</div>'+
			'<div class="col s4 m2">';
		if (blog_list[i]['senduser']['id'] == acc['id'] )
			blogdiv += '<a href="delete_blog/' + blog_list[i]['id'] + '/" class="btn waves-effect waves-teal orange lighten-1">delete</a>';
		blogdiv += '</div>'+
		  '</div>'+
		  '<div class="card-content" style="word-wrap:break-word">'+
			 ' <h6>'+ blog_list[i]['content'] +'</h6>'+
		  '</div>'+
		 ' <div class="row">'+
			'<div class="col s12 m12">'+
				'<div class="box jq22" >';
					for(var j = 0; j<blog_list[i]['photo'].length ;j++)
					{
					blogdiv += '<span>'+
						'<img src="/static/'+ blog_list[i]['photo'][j]['photo'] + '" alt="" class="z-depth-1">'+
					'</span>';
					}
		blogdiv += 	'</div>'+
			'</div>'+
		  '</div>'+
		 ' <div class="row">'+
			'<div class="col s12 m12">'+
			 ' <div class="right">'+
				'<a href="comment_blog/' + parseInt(blog_list[i]['id']) +'/" class="btn waves-effect waves-teal orange lighten-1">comment</a>'+
			  '</div>'+
			'</div>'+
		 ' </div>';
		 $("#blogsdiv").append(blogdiv);
		 commentsadd(blog_list[i]['senduser']['id'], blog_list[i]['id'], blog_list[i]['comments'], acc);
	}
	if(blog_list.length<10)
		$("#blogsdiv").append('<div id="nomoreweibo1" class="center" style="margin:2vh"><span>No more Weibo.</span></div>');
	else if (blog_list.length==0)
		$("#blogsdiv").append('<div id="nomoreweibo2" class="center" style="margin:2vh"><span>No more Weibo.</span></div>');
	else
		$("#blogsdiv").append('<div id="showdiv" class="center" style="margin:2vh"><a id="showmore" href="javascript:void(0)">Show more weibo.</a></div>');
}

function commentsadd(blogsenderid, blogid, comment_list, acc){
	for(var x=comment_list.length -1; x>=0; x--)
	{
		var commentdiv = ' <div id="commentsdiv" class="col s12 m12"> '+
			'<div class="card-panel">'+
			'<div class="row valign-wrapper">'+
			'<div class="col s4 m2">'+
			'<img src="/static/'+comment_list[x]['comment_userinfo']['photo']+'" alt="" class="circle responsive-img z-depth-1" />'+
			'</div>'+
			'<div class="col s6 m3">'+
			'<h5 class="black-text">';
		if (comment_list[x]['comment_userinfo']['nickname'])
			commentdiv += comment_list[x]['comment_userinfo']['nickname'];
		else
			commentdiv += comment_list[x]['comment_user']['username'];
		commentdiv += '</h5>'+
			'</div>'+
			'<div class="col s6 m3">'+
			'<label>'+
			comment_list[x]['time']+
			'</label>'+
			'</div>'+
			'<div class="col s4 m2">';
		if(comment_list[x]['comment_userinfo']['id'] == acc['id'])
			commentdiv += '<a href="' + 'edit_comment/' + comment_list[x]['comment']['id'] + '" class="btn waves-effect waves-teal orange lighten-1">edit</a>'
		commentdiv += '</div>' + '<div class="col s4 m2">';
		if (comment_list[x]['comment_userinfo']['id']==acc['id'] || blogsenderid == acc['id'])
			commentdiv += '<a href="' + 'delete_comment/' + comment_list[x]['comment']['id'] + '" class="btn waves-effect waves-teal orange lighten-1">delete</a>'
		commentdiv += '</div></div><div class="card-content" style="word-wrap:break-word"><span>'+
			comment_list[x]['comment']['text']+
			'</span></div></div></div>';
		var ad = 'blogdiv'+blogid;
		
		$('#'+ad).append(commentdiv);
	}
}

$("#showmore").click(function(){
	$("#showdiv").remove();
	$.ajax({
		type: "POST",
		url: "",
		data: "",
		async: true,
		success: function (data){
			var obj = JSON.parse(data);
			console.log(obj['blog_list']);
			blogsadd(obj['blog_list'], obj['acc']);
		}
	});
})
</script>


<script src="{% static 'js/viewer-jquery.min.js' %}"></script>
<script>
$('.jq22').viewer();
</script>


{% endblock %}



