{% extends "blog/base.html" %}
{% block body %}

{% for m in message %}
<div class="row">
  <div class="col s12 m12">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img src="/static/{{m.userinfo.photo}}" alt=""/>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table>
			  <tbody>
				  <tr>	
					<td>username</td>
					<td>{{m.user.username}}</td>
				  </tr>
				  <tr>	
					<td>nickname</td>
					<td>{{m.userinfo.nickname}}</td>
				  </tr>
				  <tr>	
					<td>motto</td>
					<td>
						<div style="word-wrap:break-word">
							{{m.userinfo.motto}}
						</div>
					</td>
				  </tr>
			  </tbody>
          </table>
        </div>
        <div class="card-action">
          	{% if m.status == 0 %}
			<p>The add request have been sent.Please wait.</p>
			{% elif m.status == 1 %}
			<p>added.</p>
			{% elif m.status == 2 %}
			<p>failed</p>
			{% elif m.status == 3 %}
			<p>请求添加你为好友！</p>

			<p><!--
				<button onclick="sendmessage('add', '{{m.checkid}}')" > add </button>
				<button onclick="sendmessage('refuse', '{{m.checkid}}')" > refuse </button>-->
				<a href="{% url 'blog:message_op' m.checkid 0 %}" class="btn  waves-effect waves-teal orange lighten-1">add</a>
				<a href="{% url 'blog:message_op' m.checkid 1 %}" class="btn  waves-effect waves-teal orange lighten-1">refuse</a>
			</p>
			{% elif m.status == 4 %}
			<p>added.</p>
			{% elif m.status == 5 %}
			<p>refused.</p>
			{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<script>/*
	function sendmessage(opt,id){
		form = new FormData();
		form.append('opt',opt);
		form.append('checkid',id);
		var xhr = new XMLHttpRequest();
		
		if (window.XMLHttpRequest) {// code for all new browsers
			xhr = new XMLHttpRequest();
		}
		else if (window.ActiveXObject) {// code for IE5 and IE6
			xhr = new ActiveXObject("Microsoft.XMLHTTP");
		}
		if (xhr != null)
		{
			xhr.onload=function(){
				}
			xhr.open('post','', true);
			xhr.send(form);
		}
	};*/
</script>


{% endblock %}
